<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <!-- <h1 class="display-5 fw-bold">My Jounral App</h1> -->
        <p class="col-md-8 fs-4">
            The main intend is to build a cloud native architecture with Microservices. Both functional and non-functional requirements are captured in this document. It also serves as the input for the project scoping. <br>
About the System <br>
Develop an independent application  to automate the process of managing the day-to-day task activities  with features like create tasks, fetch tasks, search tasks , navigate to history tasks. <br>
The following section will cover aspects related to MyJournal App.<br>
a)	Create Tasks to capture the everyday activity <br>
b)	Fetch the tasks for a specific day and search for the tasks <br>

        </p>
    </div>
</div>