<form name="app-component" [formGroup]="appComponentForm">
  <nav class="navbar navbar-light bg-secondary">
      <div class="container-fluid">
          <!-- <img src="assets/ems.ico" height="40" width="40" alt="E-Stock Market applicaiton logo" loading="lazy"> -->
          <h2> My Jounral Application</h2>
          <div class="d-flex">

              <button class="btn btn-sucess" (click)="createtask()"> Create Task</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-sucess" (click)="listAll()"> List All Entries </button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <form name="task-search-form" [formGroup]="tasksearchForm" (ngSubmit)="search()">
                  <input type="text" required=true formControlName="taskName"> &nbsp;
                  <button type="submit" class="btn btn-sucess" > Search </button>&nbsp;&nbsp;
              </form> -->
          </div>
      </div>
  </nav>
</form>

<router-outlet>

</router-outlet>


<br />

